header {
  transition: all 0.2s ease-in-out;
  background: rgba(217, 217, 217, 1);
  color: rgba(96, 96, 96, 1);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  span.nomeTela {
    font-size: 1.4rem;
    font-weight: 600;
  }

  button {
    span { transition: all 0.2s ease-in-out;
      font-size: 3.2rem; color: rgba(96, 96, 96, 1);
      &:hover { transform: scale(1.04) }
    }
  }
}
